<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SISDI-Agregar Tabla de plazo de conservacion</title>

        <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link th:href="@{/css/errors.css}" rel="stylesheet"/>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"/>
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script th:src="@{/bootstrap/js/jquery.js}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker.es.min.js" type="text/javascript"></script>
        <script th:src="@{/js/calendar.js}"></script>
        <script th:src="@{/js/notificacionesResponse.js}"></script>
        <script th:src="@{/js/notificacionesExpediente.js}"></script>
        <script th:src="@{/js/script.js}"></script>

    </head>

    <body>
        <header th:insert="menu/Head :: menu"></header>
        <div class="mt-2 col-md-1">
            <br> <br>
        </div>

        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
             th:text="${mensaje}"
             class="alert">
        </div>

        <main>
            <div class="container mx-auto">
                <div id="titulo">
                    <h3 class='font-italic text-center' id='titleh3'>Crear Tabla de Plazo de Conservacion</h3>
                </div>
                <div class="mx-auto w-75">
                    <form class="form was-validated" method="POST" th:action="@{/offices/saveTable}" th:object="${tableAdd}" id="add-office" >
                        <table class="table table-borderless">
                            <tr>

                                <td>
                                    <span>Fondo</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <input placeholder="Fondo" class="form-control" name="fondo" id="fondo" th:field="*{fondo}"  readonly="readonly"/>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span>Sub Fondo</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="departamentos" class="custom-select" th:field="*{subfondo}"  onchange="departamentosFunction(this)" required>
                                            <option value="">Seleccione Departamento Receptor</option>
                                            <option th:each="dep:${departamentos}" th:value="${dep.name}" th:text="${dep.name}"></option>
                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar un Departamento </div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <span>Sección:</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="secciones" class="custom-select" th:field="*{section}">
                                            <option value="">Seleccione la seccion</option>
                                            <option value="Tesorería">Tesorería</option> 
                                            <option value="Contabilidad">Contabilidad</option>
                                            <option value="Contabilidad">Infraestructura Privada</option>
                                            <option value="Contabilidad">Infraestructura Pública</option>
                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar un Departamento Receptor</div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <span>Elaborado por:</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <input th:value="${session.usuarioCompleto.tempUser.name}"  class="form-control" th:field="*{autor}" readonly="readonly"/>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>
                            </tr>




                            <tr>
                                <td>
                                    <span>Serie Documental</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="series" class="custom-select" th:field="*{seriedocumental}" required>
                                            <option value="">Seleccione la serie documental</option>
                                            <option value="Correspondencia">Correspondencia</option> 
                                            <option value="Actas">Actas</option>
                                            <option value="Contratos">Contratos</option>
                                            <option value="Expedientes">Expedientes</option>
                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar una serie documental</div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>




                            <tr>
                                <td>
                                    <span>Señale a la si es Original o Copia</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="series" class="custom-select" th:field="*{isoriginal}">
                                            <option value="">Seleccione si es origial o copia</option>
                                            <option value="Original">Original</option> 
                                            <option value="Copia">Copia</option>

                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar una opcion</div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>


                            <tr>

                                <td>
                                    <span>Contenido </span>

                                </td>
                                <td>
                                    <div class='input-group'>
                                        <textarea rows="4" class="w-100" name="contents" id="contents" placeholder="Digite una muy breve descripción de la función específica
                                                  del tipo documental" 
                                                  style="resize: none;" th:field="*{contents}"></textarea>                             
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <span>Soporte</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="series" class="custom-select" th:field="*{support}" required>
                                            <option value="">Seleccione el soporte</option>
                                            <option value="Textual">Textual</option> 
                                            <option value="Electrónicos">Electrónicos</option> 
                                            <option value="Legibles por máquina">Legibles por máquina</option>
                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar una opcion</div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>



                            <tr>
                                <td>
                                    <span>Vigencia</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="series" class="custom-select" th:field="*{validity}">
                                            <option value="">Seleccione</option>
                                            <option value="Oficina">Oficina</option> 
                                            <option value="Archivo">Archivo</option> 

                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar una opcion</div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <span>Cantidad de metros</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <input placeholder="Cantidad en metros"  type="number" class="form-control" name="cantmeters" id="cantmeters" th:field="*{cantmeters}" />
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Cantidad de copias</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <input placeholder="Cantidad de copias" class="form-control" type="number" name="cantcopies" id="cantcopies" th:field="*{cantcopies}"  />
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span>Fecha mas Antigua</span>
                                </td>
                                <td>
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" th:field="*{first_date}" th:value="${#dates.format(date, 'dd/MM/yyyy')}"readonly="readonly"/>
                                        <span class="input-group-addon ">
                                            <img class="icon-img" th:src="@{/images/calendar.svg}">
                                        </span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <span>Fecha mas Reciente</span>
                                </td>
                                <td>
                                    <div class='input-group date'>
                                        <input type='text' class="form-control" th:field="*{last_date}" th:value="${#dates.format(date, 'dd/MM/yyyy')}"readonly="readonly"/>
                                        <span class="input-group-addon ">
                                            <img class="icon-img" th:src="@{/images/calendar.svg}">
                                        </span>
                                    </div>
                                </td>

                            </tr>


                            <tr>

                                <td>
                                    <span>Observaciones</span>

                                </td>
                                <td>
                                    <div class='input-group'>
                                        <textarea rows="4" class="w-100" name="observaciones" id="observaciones" placeholder="Escriba aquí las Observaciones" 
                                                  style="resize: none;" th:field="*{observations}"></textarea>                             
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <span>Plazo estimado</span><span class="required"> *</span>
                                </td>
                                <td>
                                    <div class='input-group'>
                                        <select name="series" class="custom-select" th:field="*{finaltime}">
                                            <option value="">Seleccione</option>
                                            <option value="CONSERVACIÓN PERMANENTE">VALOR CIENTÍFICO-CULTURAL / CONSERVACIÓN PERMANENTE</option> 
                                            <option value="50 AÑOS DE VIGENCIA">50 AÑOS DE VIGENCIA</option>   
                                            <option value="10 AÑOS DE VIGENCIA">10 AÑOS DE VIGENCIA</option>
                                            <option value="5 AÑOS DE VIGENCIA">5 AÑOS DE VIGENCIA</option>
                                            <option value="3 AÑOS DE VIGENCIA">3 AÑOS DE VIGENCIA</option>
                                            <option value="2 AÑOS DE VIGENCIA">2 AÑOS DE VIGENCIA</option>

                                        </select>
                                        <div class="invalid-feedback">Debe seleccionar una opcion</div>
                                        <span class="input-group-addon ">
                                        </span>
                                    </div>
                                </td>

                            </tr>



                            <tr>
                                <td colspan="2" class="text-lg-right">
                                    <button type="submit" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal">
                                        Agregar tabla de plazo de conservacion
                                    </button>
                                </td>
                            </tr>



                        </table>
                    </form>

                    <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ¿Seguro que desea agregar la tabla de conservacion?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">
                                        Cancelar
                                    </button>
                                    <button type="button" class="btn btn-primary" id="add">
                                        Agregar tabla de plazo de conservacion
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        document.getElementById("add-office").addEventListener("submit", submit);
                        document.getElementById("add").addEventListener("click", send);
                        document.getElementById("cancel").addEventListener("click", cancel);
                        function submit(e) {
                            e.preventDefault();
                            document.getElementById("exampleModal").style.display = "block";
                        }
                        function send(e) {
                            document.getElementById("exampleModal").style.display = "none";
                            document.forms["add-office"].submit();
                        }
                        function cancel(e) {
                            document.getElementById("exampleModal").style.display = "none";
                        }

                    </script>
                </div>
            </div>-->



        </main>
        <script th:src="@{/js/addTable.js}"></script>
        <script th:src="@{/js/calendar.js}"></script>
        <script th:src="@{/js/validateSignPdf.js}"></script>

    </body>

</html>