<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">

        <title>SISDI - Firma Digital</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

        <!-- Components -->
        <script defer type="module" src="https://fortifyapp.com/external/webcomponent/build/peculiar.esm.js"></script>
        <script defer nomodule src="https://fortifyapp.com/external/webcomponent/build/peculiar.js"></script>
        <link rel="stylesheet" href="https://fortifyapp.com/external/webcomponent/build/peculiar.css">

        <!-- Crypto -->
        <script src="https://fortifyapp.com/external/pvtsutils/pvtsutils.js"></script>
        <script src="https://fortifyapp.com/external/asn1js/asn1.min.js"></script>
        <script src="https://fortifyapp.com/external/pkijs/pki.min.js"></script>
        
        <link th:href="@{/css/signature.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>


    </head>

    <body>
        <div class="container">
            <section>
                <br>
                <pre><code id="output"></code></pre>
            </section>
        </div>
        <div class="notice" id="signNotice">
            
        </div>
        <script th:src="@{/js/signature.js}"></script>
    </body>
</html>