body {
    height: 100vh;
    background: #182430;
}

section {
    max-width: 660px;
    width: calc(100% - 20px);
    margin: 20px auto;
}
.footer {
    padding: 13px;
    justify-content: space-between;
    align-items: center;
    display: none;
    width: 100%;
    height: 100%;
}